.mobileMenu {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  height: 100dvh;
  width: 100%;

  background-color: $dark-blue;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .closeButton {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: rgba($ugly-white, 10%);
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .logo {
    width: 250px;
    height: fit-content;
    box-sizing: border-box;
    cursor: pointer;

    * {
      fill: $ugly-white;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .item {
      color: $ugly-white;
      background: none;
      outline: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    button:not(.item) {
      color: $dark-blue;
      font-size: 24px;
      margin-top: 32px;
    }
  }
}
