.wrapper {
  border: 2px solid rgba(red, 0.5);
  display: flex;
  width: 350px;
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;

  .background {
    position: absolute;
    width: 150%;
    height: 110%;
    left: -120px;
    top: -12px;
    z-index: 0;
  }

  .titleWrapper,
  .contentWrapper {
    position: relative;
  }

  .titleWrapper {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;

    .title,
    .subtitle {
      font-weight: 900;
      color: $dark-blue;
      text-transform: uppercase;
    }

    .title {
      font-size: 28px;
    }

    .subtitle {
      font-size: 20px;
      opacity: 0.5;
      letter-spacing: 2px;
    }
  }

  .listWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px;
    gap: 8px;
    z-index: 1;

    .listItem {
      display: flex;
      align-items: center;
      font-weight: 400;
      color: $dark-blue;
      font-size: 18px;
      gap: 16px;

      .icon {
        $icon-size: 18px;
        min-height: $icon-size;
        height: $icon-size;
        min-width: $icon-size;
        width: $icon-size;
        * {
          fill: $brick-red;
        }
      }
    }
  }
}
