@use "sass:color";

.wrapper {
  display: flex;
  width: 350px;
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  $shared-padding: 24px;

  .background {
    position: absolute;
    width: 150%;
    height: 110%;
    left: -120px;
    top: -12px;
    z-index: 0;
  }

  .titleWrapper,
  .contentWrapper {
    position: relative;
  }

  .titleWrapper {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;

    .title,
    .subtitle {
      font-weight: 900;
      color: $dark-blue;
      text-transform: uppercase;
    }

    .title {
      font-size: 28px;
    }

    .subtitle {
      font-size: 20px;
      opacity: 0.5;
      letter-spacing: 2px;
    }
  }

  .listWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: $shared-padding;
    gap: 8px;
    z-index: 1;

    .listItem {
      display: flex;
      align-items: center;
      font-weight: 400;
      color: $dark-blue;
      font-size: 16px;
      gap: 12px;

      .icon {
        $icon-size: 16px;
        min-height: $icon-size;
        height: $icon-size;
        min-width: $icon-size;
        width: $icon-size;
        * {
          fill: $brick-red;
        }
      }
    }
  }

  .moreInfo {
    z-index: 1;
    height: 60px;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 $shared-padding;

    .price {
      font-size: 32px;
      font-weight: 600;
      color: $dark-blue;
    }

    .actionButton {
      display: flex;
      height: fit-content;
      width: fit-content;
      font-size: 14px;
      font-weight: 700;
      color: $ugly-white;
      background-color: $aquamarine;
      border: none;
      padding: 10px 18px;
      border-radius: 6px;
      filter: drop-shadow(0px 2px 4px rgba(black, 0.1));
      cursor: pointer;
      transition: 100ms ease-in-out;

      &:hover {
        background-color: color.adjust($aquamarine, $lightness: -4%);
      }

      &:active {
        scale: 0.97;
      }

      @media screen and (max-width: 460px) {
        font-size: 18px;
      }
    }
  }
}
