.default {
  display: inline-block;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  gap: 24px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(247, 247, 247, 1);
}

.iconwrapper {
  width: 40px;
  height: 40px;
  border-radius: 5.33px;
  gap: 2.67px;
  padding: 2.67px;
}
