* {
  font-family: Figtree;
  color: $dark-blue;
}

.small {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  gap: 24px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(247, 247, 247, 1);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.medium {
  width: 400px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
  background: #f7f7f7;
  border: 1px solid #00000033;
  box-shadow: 0px 4px 10px 0px #0000001a;
}

.large {
  display: inline-flex;
  flex-direction: column;
  max-width: 820px;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  gap: 24px;
  background: #f7f7f7;
  border: 1px solid #00000033;
  box-shadow: 0px 4px 10px 0px #0000001a;
  @media (max-width: 500px) {
    align-items: flex-start;
  }
}

.title {
  font-weight: 700;
  font-size: 34px;
}

.text {
  font-weight: 400;
  font-size: 20px;
}
