$mobile-margin-breakpoint: 600px;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $ugly-white;
}

* {
  font-family: "Figtree";
}

.header {
  $header-mobile-breakpoint: 900px;

  position: fixed;
  width: 100%;
  border-bottom: 2px solid rgba($dark-blue, 10%);
  background-color: rgba($ugly-white, 0.85);
  backdrop-filter: blur(10px);
  box-sizing: border-box;

  z-index: 1000;
  transition: transform 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;

  @media (max-width: $header-mobile-breakpoint) {
    padding: 16px 24px;
  }

  .logo {
    * {
      fill: $yellow;
    }

    height: 35px;
    width: 120px;
    cursor: pointer;
    transition: 100ms ease-in-out;

    @media (max-width: $header-mobile-breakpoint) {
      height: 28px;
    }

    &:hover {
      scale: 1.03;
    }

    &:active {
      scale: 0.97;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .item {
      text-decoration: none;
      transition: 100ms ease-in-out;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid rgba($dark-blue, 0);

      &:hover {
        background-color: rgba($dark-blue, 5%);
        border: 1px solid rgba($dark-blue, 10%);
      }

      &:active {
        background-color: rgba($dark-blue, 10%);
        scale: 0.97;
      }
    }

    .apply-button {
      color: $ugly-white;
      outline: none;
      border: 2px solid rgba(black, 5%);
      font-weight: 700;
      font-size: 18px;
      background-color: $yellow;
      padding: 10px 16px;
      border-radius: 8px;
      transition: 150ms ease-in-out;
      cursor: pointer;

      &:hover {
        scale: 1.03;
      }

      &:active {
        scale: 0.97;
      }
    }

    @media (max-width: 1000px) {
      font-size: 16px;
      gap: 12px;
    }

    @media (max-width: $header-mobile-breakpoint) {
      display: none;
    }
  }

  .hamburger-menu {
    svg {
      height: 100%;
      width: 100%;
      * {
        fill: $dark-blue;
      }
    }

    background: none;
    display: none;
    border: none;

    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in-out;
    border-radius: 8px;

    cursor: pointer;

    &:active {
      scale: 0.95;
      background-color: rgba($dark-blue, 5%);
    }

    @media (max-width: $header-mobile-breakpoint) {
      display: flex;
    }
  }
}

.header.hide {
  transform: translateY(-100%);
}

.header.show {
  transform: translateY(0);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $ugly-white;
  background-image: url("assets/images/meshgrid.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 60px;
  @media (max-width: $mobile-margin-breakpoint) {
    align-items: flex-start;
  }
  .landing {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .icon {
      width: 400px;
      height: 400px;
      @media (max-width: 1235px) {
        width: 350px;
        height: 350px;
      }
      @media (max-width: 900px) {
        width: 300px;
        height: 300px;
      }
    }
    .title {
      font-weight: 900;
      font-size: 80px;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 1235px) {
        font-size: 70px;
      }
      @media (max-width: 900px) {
        font-size: 60px;
      }
      @media (max-width: $mobile-margin-breakpoint) {
        font-size: 48px;
      }
    }
  }
}

.why {
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
  max-width: 1840px;
  box-sizing: border-box;
  padding: 40px 40px;
  margin: 0 auto;
  min-height: 100dvh;
  height: 100dvh;

  @media (max-width: 1280px) {
    gap: 60px;
  }

  @media (max-width: 750px) {
    padding: 24px 24px;
    flex-direction: column;
    gap: 40px;
    height: auto;
  }

  .traces {
    width: 500px;
    height: 500px;

    @media (max-width: 1280px) {
      width: 450px;
      height: 300px;
    }

    @media (max-width: 1050px) {
      width: 300px;
      height: 250px;
    }

    @media (max-width: 850px) {
      width: 250px;
      height: 200px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 30px;

    .title {
      font-weight: 900;
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media (max-width: 1050px) {
        font-size: 40px;
      }
    }
  }
}

.how {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 24px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;

  $section-mobile-breakpoint: 1000px;

  @media screen and (max-width: $section-mobile-breakpoint) {
    max-width: 600px;
  }

  .text-wrapper {
    position: relative;

    .title {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 36px;
      margin-bottom: 8px;
    }

    .description {
      font-size: 18px;
      max-width: 600px;
    }

    .pencil {
      position: absolute;
      right: 0;
      top: 0;
      height: 100px;
    }
  }

  .cards-wrapper {
    position: relative;

    .vertical-line {
      width: 4px;
      height: 80%;
      background-color: rgba($dark-blue, 15%);
      position: absolute;
      left: 16px;
      top: 12px;

      display: none;
    }

    .cosine {
      width: 100%;
    }

    .card-wrapper {
      position: absolute;

      &:nth-of-type(2n + 1) {
        top: 0;
      }

      &:nth-of-type(2n) {
        bottom: -20px;

        @media screen and (max-width: 1200px) {
          bottom: 0;
        }
      }

      &:nth-of-type(1) {
        left: 80%;
        background-color: red;
      }

      &:nth-of-type(2) {
        left: 18%;
      }

      &:nth-of-type(3) {
        left: 50%;
      }

      &:nth-of-type(4) {
        right: 0;
      }

      @media screen and (max-width: 1300px) {
        scale: 0.8;
      }

      .dot {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .text-wrapper {
      .pencil {
        position: unset;
        width: fit-content;
        margin-bottom: 32px;
      }
    }

    .cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .vertical-line {
        display: initial;
      }

      .cosine {
        display: none;
      }

      .card-wrapper {
        display: flex;
        gap: 32px;
        position: initial;
        scale: 1;

        .dot {
          display: initial;
          width: 40px;
          margin-top: 12px;
        }

        .card {
          width: 100%;
        }
      }
    }
  }
}

.goal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: linear-gradient(180deg, #e8a4b8 0%, #e67c9c 100%);

  @media (max-width: $mobile-margin-breakpoint) {
    align-items: center;
    padding-top: 8vh;
  }

  .content-wrapper {
    $section-mobile-breakpoint: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 80%;
    position: relative;
    margin-top: 100px;

    @media (max-width: 900px) {
      gap: 60px;
    }

    @media (max-width: $section-mobile-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
    }

    .arrow {
      position: absolute;
      width: 180px;
      height: 180px;
      z-index: 1;
    }

    .arrow:nth-of-type(1) {
      top: 20px;
      left: 40%;
      rotate: -10deg;

      @media (max-width: 1200px) {
        top: 60px;
        left: 300px;
        width: 125px;
        height: 125px;
      }

      @media (max-width: 900px) {
        top: 80px;
        left: 250px;
        width: 100px;
        height: 100px;
      }

      @media (max-width: $section-mobile-breakpoint) {
        top: -40px;
        margin-left: 40px;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    .arrow:nth-of-type(2) {
      top: 0px;
      right: 100px;

      @media (max-width: 1200px) {
        top: 40px;
        right: 80px;
        width: 125px;
        height: 125px;
      }

      @media (max-width: 900px) {
        top: 60px;
        right: 10px;
        width: 100px;
        height: 100px;
      }

      @media (max-width: $section-mobile-breakpoint) {
        display: none;
      }
    }

    .tracing {
      width: 800px;
      height: 600px;

      @media (max-width: $section-mobile-breakpoint) {
        width: 220px;
        height: 200px;
      }

      @media (max-width: 400px) {
        width: 150px;
        height: 150px;
      }
    }

    .text-wrapper {
      display: flex;
      gap: 16px;
      flex-direction: column;

      .title {
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        color: $ugly-white;

        @media (max-width: 1200px) {
          font-size: 50px;
        }
        @media (max-width: 900px) {
          font-size: 45px;
        }
        @media (max-width: $section-mobile-breakpoint) {
          font-size: 40px;
        }
      }

      .text {
        font-weight: 400;
        font-size: 28px;
        color: $ugly-white;

        @media (max-width: 1200px) {
          font-size: 24px;
        }
        @media (max-width: 900px) {
          font-size: 22px;
        }
        @media (max-width: $section-mobile-breakpoint) {
          font-size: 20px;
        }
      }
    }
  }
}

.who {
  min-height: 100dvh;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 650px) {
    padding: 0 24px;
    padding-bottom: 80px;
  }

  .tracing-1,
  .tracing-2 {
    position: absolute;
    max-width: 14%;
  }

  .tracing-1 {
    left: 7%;
  }

  .tracing-2 {
    right: 7%;
  }

  .tracing-3 {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .tracing-1 {
      left: 4%;
    }

    .tracing-2 {
      right: 4%;
    }
  }

  @media screen and (max-width: 960px) {
    .tracing-1,
    .tracing-2 {
      display: none;
    }
  }

  @media screen and (max-width: 650px) {
    .tracing-3 {
      display: block;
      scale: 0.8;
    }
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 550px;
    gap: 4px;

    .title {
      font-size: 50px;
      font-weight: 900;
      text-transform: uppercase;

      @media screen and (max-width: 650px) {
        font-size: 36px;
      }
    }
  }

  @mixin teacher-name {
    font-size: 24px;
    font-weight: 600;
    color: $dark-blue;
  }

  @mixin teacher-title {
    font-size: 14px;
    font-weight: 400;
    color: rgba($dark-blue, 70%);
  }

  .popup-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .popup-title {
    @include teacher-name;
    margin-right: 44px;
  }

  .popup-subtitle {
    @include teacher-title;
    margin-bottom: 24px;
    margin-right: 44px;
  }

  .popup-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 12px;

    height: 100%;
    overflow-y: auto;

    &.overflowing {
      padding-bottom: 24px;

      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 48px);
        bottom: 23px;
        box-sizing: border-box;
        height: 24px;
        pointer-events: none;

        background: linear-gradient(
          to bottom,
          rgba($ugly-white, 0) 0,
          rgba($ugly-white, 1) 100%
        );
      }
    }
  }

  .teacher-cards-wrapper {
    display: flex;
    gap: 32px;

    @media screen and (max-width: 650px) {
      flex-direction: column;
    }

    .teacher-card {
      border: 1px solid rgba(black, 20%);
      border-radius: 8px;
      box-sizing: border-box;
      padding: 8px;
      padding-bottom: 16px;
      width: 270px;
      height: 420px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .image-with-gradient {
        --img-url: url("./assets/images/teacher-temp.png");
        width: 100%;
        height: 100%;

        background-image:
          linear-gradient(to top, rgba(#f7f7f7, 1) 0%, rgba(#f7f7f7, 0) 25%),
          var(--img-url);

        background-size: cover;
        background-position: center;
      }

      .teacher-name {
        @include teacher-name;
        margin-top: 12px;
      }

      .teacher-title {
        @include teacher-title;
        margin-bottom: 12px;
      }

      .button {
        background-color: $aquamarine;
        color: $ugly-white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
        transition: 100ms ease-in-out;
        &:hover {
          background-color: darken($aquamarine, 5%);
        }
      }
    }
  }
}

.packages {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#2a9d8f, #01ccb3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 890px) {
    box-sizing: border-box;
    padding: 60px 0;
    gap: 0;
  }

  .title {
    text-align: center;
    font-size: 96px;
    text-transform: uppercase;
    font-weight: 900;
    color: $ugly-white;
    margin: 0;

    @media screen and (max-width: 890px) {
      font-size: 60px;
    }
  }

  .sticky-notes-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
    overflow: hidden;
    margin: 24px 0;

    > div:nth-child(1) {
      margin-top: -10px;
      rotate: 3deg;
      z-index: 3;
    }

    > div:nth-child(2) {
      z-index: 2;
    }

    > div:nth-child(3) {
      margin-top: -10px;
      rotate: -3deg;
      z-index: 1;
    }

    @media screen and (max-width: 1170px) {
      gap: 0px;
      > div {
        scale: 0.85;
      }
    }

    @media screen and (max-width: 1100px) {
      > div {
        scale: 0.75;
        margin: 0 -30px;
      }
    }

    @media screen and (max-width: 890px) {
      flex-direction: column;
      align-items: center;
      gap: 32px;
      margin: 0;

      > div {
        rotate: 0deg !important;
        margin: none;
        scale: 1;
      }
    }

    @media screen and (max-width: 460px) {
      gap: 0;
      > div {
        scale: 0.8;
      }
    }
  }

  .apply-button {
    font-size: 20px;
    gap: 8px;
    font-weight: 900;
    text-transform: uppercase;
    color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ugly-white;
    border: 4px solid rgba(black, 0.1);
    border-radius: 12px;
    padding: 12px 18px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    filter: drop-shadow(0px 2px 4px rgba(black, 0.1));

    &:hover {
      scale: 1.1;
      rotate: -1deg;
      filter: drop-shadow(0px 2px 10px rgba(black, 0.1));
    }

    &:active {
      scale: 1.05;
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1840px;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 auto;
  min-height: 100dvh;
  position: relative;

  @media screen and (max-width: 1150px) {
    gap: 40px;
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (max-width: $mobile-margin-breakpoint) {
    padding: 40px 24px;
  }

  .map-wrapper {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid rgba(black, 20%);
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    margin: auto 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 10%);

    display: flex;
    flex-direction: column;
    gap: 8px;

    iframe {
      height: 80vh;
      max-height: 600px;
      width: 100%;

      @media screen and (max-width: 1000px) {
        height: 40vh;
      }
    }

    .address-wrapper {
      display: flex;
      align-items: center;
      gap: 4px;

      .icon {
        width: 16px;
        height: 16px;
      }

      .address {
        color: $dark-blue;

        .secondary {
          color: rgba($dark-blue, 0.5);
        }
      }
    }
  }

  .content-wrapper {
    box-sizing: border-box;
    padding: 40px 0;
    height: 100%;
    margin: auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      padding: 0;
    }

    .text-wrapper {
      .title {
        font-weight: 900;
        font-size: 48px;
        color: $dark-blue;
        text-transform: uppercase;
        margin-bottom: 8px;

        @media screen and (max-width: 1150px) {
          font-size: 36px;
        }
      }

      .address-tag {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        background-color: rgba(#264653, 10%);
        box-sizing: border-box;
        padding: 8px 16px;
        border-radius: 50px;
        border: 2px solid rgba(black, 10%);
        color: $dark-blue;
        margin-bottom: 32px;

        @media screen and (max-width: 1150px) {
          font-size: 14px;
          gap: 4px;

          .icon {
            height: 14px;
            width: 14px;
          }
        }

        @media screen and (max-width: 550px) {
          .address {
            .secondary {
              display: none;
            }
          }
        }
      }

      .paragraph {
        max-width: 700px;
      }

      .paragraph:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }

    .tracing {
      max-height: 50%;
      height: fit-content;
      width: 80%;
      max-width: 300px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 40px;

      @media screen and (max-width: 1000px) {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }
  }
}

.footer {
  min-height: 100dvh;
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 60px;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 93px;
    max-width: 80%;

    .logo {
      width: 100%;
      max-width: 330px;
      height: auto;

      @media (max-width: 450px) {
        max-width: 250px;
      }
    }

    .subtitle {
      font-weight: 700;
      color: $ugly-white;
      opacity: 0.6;
      font-size: 24px;
      text-align: center;
      line-height: 100%;
      letter-spacing: 4px;
      text-transform: uppercase;

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    .label {
      font-weight: 900;
      color: $ugly-white;
      font-size: 34px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .items-wrapper {
      display: flex;
      flex-direction: column;
      gap: 45px;
      box-sizing: border-box;
      padding-bottom: 40px;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        cursor: pointer;
        transition: 100ms ease-in-out;

        &:hover {
          opacity: 0.5;
        }

        .icon-div {
          width: 38px;
          height: 38px;
          gap: 8px;
          border-radius: 8px;
          background-color: rgba(247, 247, 247, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;

          .contact-icon {
            width: 22px;
            height: 22px;
          }
        }

        .text {
          font-weight: 400;
          color: $ugly-white;
          font-size: 34px;
          line-height: 100%;

          @media (max-width: 630px) {
            font-size: 24px;
          }

          @media (max-width: 450px) {
            font-size: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 630px) {
    .logo-wrapper {
      width: 80%;
    }

    .contacts {
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px;

      .label {
        text-align: center;
      }

      .items-wrapper {
        gap: 24px;
        width: 100%;

        .item {
          width: 100%;
          box-sizing: border-box;
          padding: 0 10px;
          height: 150px;
          background-color: rgba(247, 247, 247, 0.05);
          border-radius: 16px;
          border: 5px solid rgba(247, 247, 247, 0.05);

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;

          &:hover {
            opacity: 1;
            background-color: rgba(247, 247, 247, 0.15);
            border: 5px solid rgba(247, 247, 247, 0.15);
          }

          .icon-div {
            background-color: transparent;
            width: auto;
            height: auto;

            .icon {
              width: 28px;
              height: 28px;
            }
          }

          .text {
            text-align: center;
          }
        }
      }
    }
  }

  @media (max-width: 460px) {
    .contacts {
      padding: 0 24px;
    }
  }
}
