body {
  margin: 0;
}

* {
  font-family: "Figtree";
}

.footer {
  min-height: 100dvh;
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 60px;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 93px;
    max-width: 80%;

    .logo {
      width: 100%;
      max-width: 330px;
      height: auto;
    }

    .subtitle {
      font-weight: 700;
      color: $ugly-white;
      opacity: 0.6;
      font-size: 24px;
      text-align: center;
      line-height: 100%;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }

  .content {
    .contacts {
      display: flex;
      flex-direction: column;

      .label {
        font-weight: 900;
        color: $ugly-white;
        font-size: 34px;
        text-transform: uppercase;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 45px;

        .contact {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 32px;

          .icon-div {
            width: 38px;
            height: 38px;
            gap: 8px;
            border-radius: 8px;
            background-color: rgba(247, 247, 247, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;

            .contact-icon {
              width: 22px;
              height: 22px;
            }
          }

          .text {
            font-weight: 400;
            color: $ugly-white;
            font-size: 34px;
            line-height: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .logo-wrapper {
      margin: 24px 40px;
      width: 80%;
    }
    .content {
      margin-top: 10px;
      margin-bottom: 20px;

      .contacts {
        .label {
          text-align: center;
        }

        .item {
          gap: 24px;

          .contact {
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            height: 150px;
            background-color: rgba(247, 247, 247, 0.05);
            border-radius: 16px;
            border: 5px solid rgba(247, 247, 247, 0.05);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 18px;

            .icon-div {
              background-color: transparent;
              width: auto;
              height: auto;

              .icon {
                width: 28px;
                height: 28px;
              }
            }

            .text {
              text-align: center;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
