body {
  margin: 0;
}

* {
  font-family: "Figtree";
}

.footer {
  min-height: 100dvh;
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 93px;
}

.footer-title-text {
  font-weight: 700;
  color: $ugly-white;
  opacity: 0.6;
  font-size: 24px;
  letter-spacing: 10%;
  text-align: center;
  line-height: 100%;
  letter-spacing: 10%;
}

.footer-h2 {
  font-weight: 900;
  color: $ugly-white;
  font-size: 34px;
}

.footer-text {
  font-weight: 400;
  color: $ugly-white;
  font-size: 34px;
  line-height: 100%;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  max-width: 330px;
  height: auto;
}

.contact-icon {
  width: 22px;
  height: 22px;
}

.icon-div {
  width: 38px;
  height: 38px;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media (max-width: 600px) {
  .contact {
    width: 460px;
    height: 150px;
    background-color: rgba(247, 247, 247, 0.05);
    border-radius: 16px;
    border: 5px solid rgba(247, 247, 247, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  .contact-items {
    gap: 24px;
  }

  .footer-content {
    margin-top: 174px;
    margin-bottom: 123px;
  }

  .icon-div {
    background-color: transparent;
    width: auto;
    height: auto;
  }

  .contact-icon {
    width: 28px;
    height: 28px;
  }

  .footer-text {
    text-align: center;
    font-size: 24px;
  }

  .footer-h2 {
    text-align: center;
  }
}
