body {
  margin: 0;
}

.footer {
  height: 100dvh;
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 94px 0 32px 0;
}

.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-title-text {
  font-family: "Figtree";
  font-weight: 700;
  color: $ugly-white;
  opacity: 0.6;
  font-size: 24px;
  letter-spacing: 10%;
  text-align: center;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 10%;
}

.footer-h2 {
  font-family: "Figtree";
  font-weight: 900;
  color: $ugly-white;
  size: 34px;
  line-height: 100%;
}

.footer-text {
  font-family: "Figtree";
  font-weight: 400;
  color: $ugly-white;
  font-size: 34px;
  line-height: 100%;
}

.logo {
  width: 100%;
  max-width: 330px;
  height: auto;
}

.contact-icon {
  width: 22px;
  height: 22px;
}

.icon-div {
  width: 38px;
  height: 38px;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
