body {
  margin: 0;
}

.footer {
  height: 100dvh;
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 94px 0 32px 0;
}

.title {
  font-family: "Figtree";
  font-weight: 700;
  font-style: bold;
  color: $ugly-white;
  opacity: 0.6;
  font-size: 24px;
  letter-spacing: 10%;
}
